/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background for black theme */
    color: #fff;
}

h1, h3, h2 {
    color: #ffffff;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 15px;
    border-bottom: 2px solid #444;
}

header h3 {
    font-size: 1.5rem;
}

header .links-group a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 15px;
}

header .links-group a:hover {
    color: #d0f489;
}

/* Main Content */
.preview-slide {
    background-color: #212121;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.preview-slide h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
}

.description {
    padding: 30px 0;
    text-align: center;
}

.specialists {
    margin: 50px 0;
}

.pagination button {
    color: white;
    border: 1px solid #d0f489;
    margin: 5px;
}

.pagination button:hover {
    background-color: #333;
}

/* Forms */
.form-container {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.form-container input {
    margin: 5px;
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: white;
    border: 1px solid #555;
    border-radius: 4px;
}

.form-container input:focus {
    border-color: #d0f489;
    outline: none;
}

button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

button:hover {
    background-color: #d0f489;
}

/* Hidden elements */
.hidden {
    display: none;
}

.hidden-btn {
    display: none;
}

/* Footer */
footer {
    background-color: #333;
    padding: 10px;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Animations */
.fade-in {
    animation: fadeIn 1.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
