* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
    max-height: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    
}

header h3 {
    color: #ffffff;
    margin-left: 50px;
    justify-self: flex-start;
}

header h3 span{
    color: #d0f489;    
}

header .links-group {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-items: center;
    gap: 25px;
    margin-right: 100px;
}

header .links-group a{
    text-decoration: none;
    color: #ffffff;
}

header .links-group a:hover{
    color: #7d89da;
    transition: 0.5s;
}

.preview-slide {
    width: 100%;
    height: 500px;
    background-image: url("./src/main-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.preview-slide h1{
    color: #ffffff;
    margin-left: 100px;
    font-size: 30px;
}

.preview-slide h1 span{
    color: #d0f489;
    font-size: 50px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #333;
    font-size: large;
    padding: 25px;
}

.description p {
    max-width: 1000px;
    text-align: center;
}

.specialists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.doctors-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 30px;
}

.doctor-card {
    box-sizing: border-box;
    border: 1px solid #d0f489;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    max-width: 20%;
    max-height: 50%;
} 
 
.doctor-card .card-pre-image{
    max-width: 100%;
    max-height: 50%; 
    overflow: hidden;
    border-radius: 10px;
} 

.doctor-card p{
    margin: 0px;
}

.show-more-button {
    background-color: #ffffff00;
    color: #d0f489;
}



section {
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}
.hidden {
    display: none;
}
button {
    margin: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #555;
}
.form-container {
    margin: 20px auto;
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input {
    margin: 5px;
    padding: 8px;
    width: calc(100% - 16px);
}


